{% extends 'base.html' %} {% block content %}

<h1>New Book</h1>
<div class="position-absolute" style="top: 1rem; right: 1rem">
  <a href="{% url 'book_all' %}"
    ><button class="btn btn-info">List Book</button></a
  >
</div>
<div class="w-50 mb-5 mx-auto bg-white border border-black p-2 rounded">
  <form method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      {{ form.member }}
      <label for="id_member">Member</label>
      {% if form.errors.member %}
      <div class="text-danger mt-2">{{ form.errors.member }}</div>
      {% endif %}
    </div>
    <div class="form-floating mb-3">
      {{ form.court }}
      <label for="id_court">Court</label>
      {% if form.errors.court %}
      <div class="text-danger mt-2">{{ form.errors.court }}</div>
      {% endif %}
    </div>
    <div class="form-floating mb-3">
      {{ form.date }}
      <label for="id_date">Datetime</label>
      {% if form.errors.date %}
      <div class="text-danger mt-2">{{ form.errors.date }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
